*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(212, 212, 212);
    
}

.container{
    display: flex-inline;
    width: 70%;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid rgb(117, 115, 115);
    border-radius: 10px;
}   

.profile{
    padding-top: 10px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

.profile h1{
    margin-top: 20px;
}

.profile p {
    margin-top: 20px;
}

.foto{
    border-radius: 50%;
    border: 5px solid rgb(0, 50, 70);
}

.socialmedia{
    width: 30px;
    margin-top: 5px;
}

h1{
    /* margin-bottom: 0; */
}

h2{
    margin-top: 0;
    font-style: italic;
    font-weight: 200;
}

h3{
    margin: 35px 0 0 10px;
    color: rgb(100, 63, 37);
}

h4{
    margin-top: 20px;
    font-size: 20px;
}

hr{
   border: 2px solid rgb(63, 63, 82);
}

#resume{
    /* margin-top: 0px; */
    text-indent: 15px;
}

a{
    text-decoration: none;
    color: darkred;
}

footer{
    text-align: center;
    background-color: black;
    color: blue;
    margin: 10px auto;
    width: 70%;
}